/* app css stylesheet */
.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.search-form {
  padding-block: 10px;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  border: solid 1px lightgrey;
}

.search-input {
  border-width: thin;
  border-radius: 20px;
  border-color: lightblue;
  padding: 6px;
  font-size: 17px;
  text-align: center;
}

input:focus {
  outline: unset;
}

.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}